// FONT
$font_family_lora         : 'Lora', serif;
$font_family       		  : 'Source Sans Pro', sans-serif;
$font_size                : 17px;
$font_weight              : 400;
$line_height              : 1.5;

// SCREEN SIZE — SS
$ss_laptop                : 1339px;
$ss_tablet                : 1019px;
$ss_sm_tablet             : 699px;
$ss_phone                 : 529px;

// COLORS
$color_text               : #292526;
$color_primary            : #9a1533;
$color_gray               : #b7b0b2;